@model IEnumerable<DAL.Modelos>

@{
    ViewBag.Title = "Index";
}

<style>
    a {
        color: #003359;
        text-decoration: none;
        font-family: 'Century Gothic';
        font-size: 18px;
    }

        a:hover {
            color: #5bc0de;
        }

    #someID {
        border: solid;
        border-radius: 5px 5px 5px 5px;
        padding: 0.5%;
        margin-bottom:1%;
    }
</style>



<body>
    <div class="container">
        <div class="text-left">
            <a class="btn btn-success text-left" id="password" href="../../Upload/Index">Importar Archivo</a>
        </div>
        <div style="margin-top:10%; font-family:'Century Gothic'; color:white; background-color:#003359; border:solid; border-color:#003359;" class="jumbotron text-center">
            <h1 style="font-size:50px;">Autos</h1>
        </div>
        <div class="row" style="margin-bottom:2%;">
            <div class="form-inline">
                @*<p>@Html.ActionLink("Create New", "Create", null, new { id = "someID" })</p>*@
                <a class="btn btn-success text-left" id="password" href="../../Modelos/Create">Crear Nuevo</a>
                <a class="btn btn-success text-left" id="password" href="../../Upload/Index">Importar Archivo</a>

            </div>
        </div>
        <table class="table text-center">
            <tr>
                <th style="text-align:center;font-family:'Century Gothic';">
                    MARCA
                </th>
                <th style="text-align:center;font-family:'Century Gothic';">
                    MARCA
                </th>
                <th style="text-align:center;font-family:'Century Gothic';">
                    SEGMENTO
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center;font-family:'Century Gothic';">
                        @Html.DisplayFor(modelItem => item.Marcas.Descripcion)
                    </td>
                    <td style="text-align:center;font-family:'Century Gothic';">
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td style="text-align:center;font-family:'Century Gothic';">
                        @Html.DisplayFor(modelItem => item.Segmentos.Descripcion)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdModelo }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IdModelo }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdModelo })
                    </td>
                </tr>
            }

        </table>

    </div>
</body>

