@model WashAndGo.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<style>
    h2 {
        font-family: 'Century Gothic';
        text-align:center;
    }
    #btn {
        width: 100%;
        background-color: #337ab7;
        border-color: #2e6da4;
        color: white;
        font-family: 'Century Gothic';
    }

    h4{
        font-family:'Century Gothic';
        margin-top:1%;
    }
    label{
        font-family:'Century Gothic';

    }


</style>


<div class="container">

    <div class="col-md-12">

       

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-md-3"></div>
            <div class="col-md-6" style="margin-top:15%;border:solid; border-radius:10px 10px 10px 10px;">
                <h2 >¿Olvidaste tu contraseña?</h2>

                
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <input id="btn" type="submit" class="btn btn-success"  value="Enviar" />
                    </div>
                </div>
            </div>
        }
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
