@model IEnumerable<DAL.ListaPrecios>

@{
    ViewBag.Title = "Index";
}


<style>
    a {
        color: #003359;
        font-family:'Century Gothic';
    }
    #SomeID {
        border: solid;
        border-radius: 5px 5px 5px 5px;
        padding: 0.5%;
        margin-bottom: 1%;
    }

    td{
        font-family:'Century Gothic';
        text-align:center;
    }
    th{
        text-align:center;
    }

</style>

<div class="container">

    <div style="margin-top:10%; font-family:'Century Gothic'; color:white; background-color:#003359; border:solid; border-color:#003359;" class="jumbotron text-center">
        <h2>Precios</h2>
    </div>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { id= "SomeID" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Precio", "Index", new { sortOrder = ViewBag.PrecioSort })
                @*@Html.DisplayNameFor(model => model.Precio)*@
            </th>
            <th>
                @Html.ActionLink("Fecha Desde", "Index", new { sortOrder = ViewBag.FechaDesdeSort })
            </th>
            <th>
                @Html.ActionLink("Fecha Hasta", "Index", new { sortOrder = ViewBag.FechaHastaSort })
                @*@Html.DisplayNameFor(model => model.FechaHasta)*@
            </th>
            <th>
                @Html.ActionLink("Descripción", "Index", new { sortOrder = ViewBag.Segmento})
                @*@Html.DisplayNameFor(model => model.Segmentos.Descripcion)*@
            </th>
            <th>
                @Html.ActionLink("Servicios", "Index", new { sortOrder = ViewBag.Servicios })
                @*@Html.DisplayNameFor(model => model.Servicios.Nombre)*@
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                   $ @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDesde)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaHasta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Segmentos.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servicios.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { idServicio = item.IdServicio,idSegmento=item.IdSegmento }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdServicio}) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>


</div>