@model WashAndGo.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<style>
    input, select, textarea {
        max-width: 100%;
    }

    
    h2{
        font-family:'Century Gothic';
        text-align:center;
    }
    #btn {
        width: 100%;
        background-color: #337ab7;
        border-color: #2e6da4;
        color: white;
        font-family:'Century Gothic';
    }

    label {
        font-family: 'Century Gothic';
    }
</style>

<div class="container">

    <div class="col-md-12">

        <div class="col-md-3"></div>

        <div style="margin-top:15%; border:solid; border-radius:10px 10px 10px 10px" class="col-md-6">

            <h2>Cambiar Contraseña</h2>

            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="col-md-4 control-label">Contraseña actual</label>
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Nueva Contraseña</label>
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Confirme</label>
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <input type="submit" id="btn" value="Change password" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

